.container {
    width:100%;
    border:1px solid #cd20a8f3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#f00b0b;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}