---
# Required for Jekyll to parse Liquid
---

body {
  background-image: url('/assets/images/wrinkled-brown-papers');
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  background-color: #f0f0f0;
}