---
---

body {
  background-image: url('{{ "/assets/images/wrinkled-brown-paper.jpg" | relative_url }}');
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: top left;
  background-color: #f0f0f0;
}

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";
