---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

body {
    background-image: url('/assets/images/wrinkled-brown-paper.jpg'); /* path to your texture */
    background-repeat: repeat; /* or repeat-x / repeat-y / no-repeat */
    background-size: auto;     /* or 'cover' if you want it to scale */
    background-attachment: fixed; /* keeps texture in place when scrolling */
    background-color: #f0f0f0; /* fallback color */
}
