---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    <meta name="description" content="{{ page.description | default: site.description }}">
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
    <script type="text/javascript" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
  </head>
    <body class="{{ page.body_class }}">
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

  <div class="page__footer" style="width: 100%; float: left; clear: both;">
  <footer style="max-width: none; margin: 0; padding: 0; border-top: 1px solid #f2f2f2;">
    <div style="padding: 20px 20px; max-width: none; display: flex; align-items: center;">
      <div style="font-size: 1rem; color: #333;">
        {% include footer.html %}
      </div>
    </div>
  </footer>
</div>

    {% include scripts.html %}

  </body>
</html>

